@{
    Layout = "~/Features/_Public.cshtml"; 
}

hello.
<br/><br/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <label>u:</label>
    <input type="text" name="username" required autofocus />
    
    <label>p:</label>
    <input type="password" name="password" required />
    
    <input type="submit" value="enter" />
}

