@model DevLink.Public.Features.MemberPasswordReset.MemberPasswordResetCommand

@{
    ViewBag.Title = "password reset";
    Layout = "~/Features/_Public.cshtml"; 
}

@if (ViewData.ModelState.IsValid)
{
    <h2>reset your password.</h2>
}
else
{
    <h2>ummmmmm. you may want to reset your password again.</h2>
}

<br/><br/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <label>u:</label>
    <label>@Model.UserName</label>
    
    <label>p:</label>
    <input type="password" name="password" autofocus required />
    
    <input type="submit" value="enter" />
}
