@model DevLink.Public.Features.InvitationAcceptance.InvitationAcceptanceController.InvitationAcceptanceCommand

@{
    ViewBag.Title = "accept invite";
}

<h2>accept your invite.</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <label>enter a username</label>
    <input type="text" name="username" required autofocus value="@Model.UserName" /> <span>[@(Model.UserNameIsAvailable ? "available" : "taken")]</span>
    
    <label>enter a password</label>
    <input type="password" name="password" required />
    
    <input type="submit" value="accept" />
}
