@{
    ViewBag.Title = "Welcome";
}

<h2>welcome.</h2>
<ol>
    <li>devlink is about good people connecting to foster better workplaces.</li>
    <li>devlink membership is invitation only.</li>
    <li>devlink is for people who create software: programmers, qa, ops, design.</li>
    <li>devlink is about quality over quantity.</li>
    <li>devlink members should commit code to source control as part of their job.</li>
    <li>invite people you have WORKED WITH before and would LOVE to work with again.</li>
    <li>do you / did you have lunch with this person on a regular basis?</li>
    <li>if their performance had an impact on YOUR paycheck, you would feel confident?</li>
    <li>if their paycheck depended on your performance, you would feel a pang in your stomach?</li>
    <li><a href="@Url.Action("Index", "InvitationCreation")">submit the candidate</a> to devlink.</li>
    <li>only tell the candidate about devlink AFTER they are approved.</li>
    <li>tell the candidate about devlink in person, face to face.</li>
    <li>if you just cannot tell them about devlink in person, talk to them about it on the phone.</li>
</ol>
