@{
    ViewBag.Title = "Rules";
}

<span>welcome.</span>
<ol>
    <li>devlink is invitation only.</li>
    <li>devlink is not a friends network or a popularity contest.</li>
    <li>YOU have WORKED with them before and would LOVE to WORK with them AGAIN.</li>
    <li>if their performance had an impact on YOUR paycheck, you would feel confident?</li>
    <li>if their paycheck depended on your performance, you would feel a pang in your stomach?</li>
    <li>submit the candidate to devlink.</li>
    <li>only tell the candidate about devlink AFTER they are approved.</li>
    <li>tell the candidate about devlink in person.</li>
    <li>if you just cannot tell them about devlink in person, talk to them about it on the phone.</li>
    <li>devlink is about people.</li>
</ol>
