@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Post", "MemberLogout", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <span><a href="javascript:document.getElementById('logoutForm').submit()">log off</a>.</span>
    }
}
