<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>There is no such thing as devlink</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/public/css")
    </head>
    <body>
        <div id="body">
            <section id="main" class="content-wrapper main-content clear-fix @ViewBag.Css">
                @RenderBody()
            </section>
        </div>
    </body>
</html>
