<!DOCTYPE html>

<html>
    <head>
        <title>rules</title>
    </head>
    <body>
        <h1>Rules</h1>
        <ol>
            <li>You don't talk about dev link.</li>  
            <li>You DO NOT talk about dev link!</li>  
            <li>Dev link is invitation only.</li>
            <li>Only invite developers that YOU want to WORK with.</li>
            <li>To invite someone to the group, send a pull request.</li>
        </ol>
    </body>
</html>