@model DevLink.Public.Features.MemberLogin.MemberLoginCommand
@{
    Layout = "~/Features/_Public.cshtml";
    ViewBag.Title = "login";
    ViewBag.Css = "login";
}

@if (ViewData.ModelState.IsValid)
{
    <h2>hello.</h2>
}
else
{
    <h2>ummmmmm. what?</h2>
}

<form action="@Request.RawUrl" method="post">
    @Html.AntiForgeryToken()
    
    <label>u:</label>
    <input type="text" name="username" required autofocus value="@Model.UserName" />
    
    <label>p:</label>
    <input type="password" name="password" required />
    
    <input type="submit" value="enter" />
</form>

