<!DOCTYPE html>

<html>
    <head>
        <title>Current Members | dev link</title>
    </head>
    <body>
        <ul>
            <li>Kijana Woodard</li>
            <li>Larry McNutt</li>
        </ul>
    </body>
</html>