@{
    ViewBag.Title = "Rules";
}

<h1>Rules</h1>
<ol>
    <li>Dev link is invitation only.</li>
    <li>This is not a friends network or popularity contest.</li>
    <li>YOU have WORKED with them before and would LOVE to WORK with them AGAIN.</li>
    <li>If their performance had an impact on YOUR paycheck, you would feel confident.</li>
    <li>If their paycheck depended on your performance, you would feel a pang in your gut, and then you would do your best.</li>
</ol>
