<!DOCTYPE html>

<html>
    <head>
        <title>rules</title>
    </head>
    <body>
        <h1>Rules</h1>
        <ol>
            <li>You don't talk about dev link.</li>  
            <li>You DO NOT talk about dev link!</li>  
            <li>Dev link is invitation only.</li>
            <li>Invite Criteria: YOU have WORKED with them before and would LOVE to WORK with them AGAIN.</li>
        </ol>
    </body>
</html>